{% extends 'layout.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'style/acordio.css' %}" type="text/css">
{% endblock css %}

{% block tittle %}Story 7{% endblock tittle %}

{% block content %}
<div class="wrapper mr-5 ml-5 mt-5">
      <ul id="acordio" style="list-style: none;">
        <li class="acordio">
          <button class="naik bg-light">^</button>
          <button class="turun bg-light">V</button>
          <button class="accordion mt-5" ><strong>ACTIVITY</strong></button>
          <div class="panel">
            <p>Sekarang lagi sibuk-sibuknya nugas ada story ppw, lab sda, adbis, ppm dll</p>
          </div>
        </li>
        <li class="acordio">
            <button class= "naik bg-light">^</button>
            <button class="turun bg-light">V</button>
            <button class="accordion mt-5" ><strong>EXPERIENCE</strong></button>
            <div class="panel">
              <ul>
                <li>Staff BEM Olahraga Fasilkom UI 2020</li>
                <li>Staff Bisdev PERAK 2020</li>
                <li>Ketua Divisi Danus SBF RUNTIME ERROR 2019</li>
                <li>Staff Acara Sospro MAUNG 2019</li>
                <li>Pengajar Olimpiade Komputer Science Go</li>
              </ul>
            </div>
        </li>
        <li class="acordio">
            <button class= "naik bg-light">^</button>
            <button class="turun bg-light">V</button>
            <button class="accordion mt-5" ><strong>ACHIEVEMENT</strong></button>
            <div class="panel">
              <ul>
                <li>Peserta OSN Komputer 2018</li>
                <li>Medali Emas Olim KOmputer Se-Indonesia OSPO</li>
                <li>Medali Perunggu Olim KOmputer Se-Indonesia USO Unimed</li>
              </ul>
            </div>
        </li>
        <li class="acordio">
            <button class= "naik bg-light">^</button>
            <button class="turun bg-light">V</button>
            <button class="accordion mt-5" ><strong>ABOUT ME</strong></button>
            <div class="panel">
              <p>Hanya seorang mahasiswa perantauan dari Aceh yang menimba ilmu di luar pulau sendiri dan berharap
                akan bermanfaat nantinya
              </p>
            </div>
        </li>
      </ul>
</div>
      
      
      {% endblock content %}

{% block js %}
<script type="text/javascript" src="{% static 'js/acordio.js' %}"></script>
{% endblock js %}

