{% extends 'layout.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'style/awalan.css' %}" type="text/css">
{% endblock css %}

{% block tittle %}Story 9{% endblock tittle %}

{% block content %}
    <div class="pilihan d-flex flex-column justify-content-center">
        {% if user.is_authenticated %}
        <div class="halo  d-flex justify-content-center mb-4 ">
            <strong style="font-size: 64px;"> SELAMAT DATANG {{ user }} </strong>
        </div>
        <div id= "logout" class="logout d-flex justify-content-center mb-4 " style="width: fit-content;">
            <a href= "/login/logout" style="font-size: 64px; background-color: white;" class="p-2 p-2">
                <strong style="color: black;">LOGOUT</strong></a>
        </div>
        {% else %}
        <div class="login d-flex justify-content-center mb-4 " style="width: fit-content;">
            <a href="/login/login" style="font-size: 64px; " class="mr-2 ml-2">
                <strong style="color: black;">LOGIN</strong></a>
        </div>
        <div class="signup d-flex justify-content-center" style="width: fit-content;">
            <a href="/login/signup" style="font-size: 64px;" class="mr-2 ml-2">
                <strong style="color: black;">SIGNUP</strong></a>
        </div>
        {% endif %}
    </div>
{% endblock content %}

