{% extends 'layout.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'style/awalan.css' %}" type="text/css">
{% endblock css %}

{% block tittle %}Story 9{% endblock tittle %}

{% block content %} 
<div class="pilihan">
    <h1 class="title text-center mb-5   "><strong>SELAMAT DATANG DAN LOGIN DISINI YA</strong> <h1>
    <form style="margin-bottom:1%;" action="" method="POST">
        {% csrf_token %}
        <div class="username d-flex">
            <input type="text" name="username" class="mr-3 mb-5"><p>&lt--ISI USERNAME DISINI</p>
        </div>
        <div class="username d-flex">
            <input type="password" name="password" class="mr-3"><p>&lt--ISI PASSWORD DISINI</p>
        </div>
        <button class="submit mt-5" type="submit"><strong>LOGIN</strong></button>
    </form>
</div> 
{% endblock content %}

