{% extends 'layout.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'style/awalan.css' %}" type="text/css">
{% endblock css %}

{% block tittle %}Story 9{% endblock tittle %}

{% block content %} 
<div class="pilihan">
    <h1 class="title text-center mb-5   "><strong>SELAMAT DATANG DAN SIGNUP DISINI YA</strong> <h1>
        <form action="" method="POST">
        {% csrf_token %}
        {% for field in form %}
            <p>
                {{ field.label_tag }}<br>
                {{ field }}
            </p>
        {% endfor %}
        <button class="submit mt-5" type="submit"><strong>SIGNUP</strong></button>
    </form>
</div> 
{% endblock content %}

