{% extends 'layout.html' %}
{% load static %}

{% block tittle %}Sosmed{% endblock tittle %}

{% block content %}
    <div class="d-flex justify-content-center aligh-items-center mt-5">    
        <h1 style="font-size: 64px;">SORRY GAADA FACEBOOK AMA LINKEDIN..</h1>      
    </div>
{% endblock content %}
