{% extends 'layout.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'style/ajax.css' %}" type="text/css">
{% endblock css %}

{% block tittle %}Story 8{% endblock tittle %}

{% block content %}
<div class="container d-flex justify-content-center mt-5" aria-describedby="button">
  <input type="text" name="q" id="form" class="form"> <button class="btn btn-outline-dark ml-2" id="button">
    <strong>Cari</strong></button>
</div>
<div class="buku ml-5 mr-5 mt-5" id="buku">

</div>
{% endblock content %}

{% block js %}
<script type="text/javascript" src="{% static 'js/ajax.js' %}"></script>
{% endblock js %}

