.accordion {
    width: 90%;    
    background-color: white;
    border: 0;
    font-size: 64px;
    border: 1px solid black;
}

.panel {
    display: none;
    overflow: hidden;
    padding: 3em 3em 0 3em;
}

.naik {
    font-size: 64px;
    width: 4%;
    background-color: rgb(255, 255, 255);
    border: 0;
    font-size: 64px;
    border: 1px solid black;
}