{% extends 'layout.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'style/landingpage.css' %}" type="text/css">
{% endblock css %}

{% block tittle %}Landing Page{% endblock tittle %}

{% block content %}
<div class="wrapper ml-5 mr-5 mt-5">
    <div class="card mb-3" style="border-radius: 40px;">
        <div class="card-body">
        <a class="card-title" style="font-size: 40px; color: black;"><strong>STORY 7</strong></a>
        <p class="card-text font-italic">Di story ini bakalan ada accordio, dan ada sedikit customisasi sesuai
            dengan yang soal minta :)
        </p>
        <p class="card-text"><small class="text-muted">Moga dapat 100</small></p>
        <button type="button" href="https://getbootstrap.com/docs/4.5/components/buttons/" class="btn btn-light" style="border-radius: 40px;">
            <a href="{% url 'acordio:index' %}">Tekan Ini</a></button>
        <button type="button" href="https://getbootstrap.com/docs/4.5/components/buttons/" class="btn btn-light" style="border-radius: 40px;">
            <a href="{% url 'acordio:boot' %}">Tekan Ini kalo mau yang bootstrap tapi gaada isi</a></button>
        </div>
    </div>    
    <div class="card mb-3" style="border-radius: 40px;">
        <div class="card-body">
        <a class="card-title" style="font-size: 40px; color: black;"><strong>STORY 8</strong></a>
        <p class="card-text font-italic">Di story ini bakalan ada ajax, bakalan minta buku deh pokoknya
        </p>
        <p class="card-text"><small class="text-muted">Moga gatelat kaya story 7</small></p>
        <button type="button" href="https://getbootstrap.com/docs/4.5/components/buttons/" class="btn btn-light" style="border-radius: 40px;">
            <a href="{% url 'ajax:index' %}">Tekan Ini</a></button>
        </div>
    </div>  
    <div class="card mb-3" style="border-radius: 40px;">
        <div class="card-body">
        <a class="card-title" style="font-size: 40px; color: black;"><strong>STORY 9</strong></a>
        <p class="card-text font-italic">Di story ini, bakalan ada laman login-signup-logout 
        </p>
        <p class="card-text"><small class="text-muted">Moga ga error kaya story8</small></p>
        <button type="button" href="https://getbootstrap.com/docs/4.5/components/buttons/" class="btn btn-light" style="border-radius: 40px;">
            <a href="{% url 'login:index' %}">Tekan Ini</a></button>
        </div>
    </div>
</div>
{% endblock content %}